/* Basic reset for margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Day/Night mode styles */
body.dark-mode {
    background-color: #333;
    color: #f4f4f4;
}

.container.dark-mode {
    background-color: #444;
    color: #fff;
}

/* Container styles */
.container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

h1 {
    margin-bottom: 20px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.card {
    background-color: #007bff;
    color: white;
    padding: 40px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.card.matched,
.card.flipped {
    background-color: #ccc;
    color: #333;
    cursor: default;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Dark mode specific styles */
body.dark-mode .card {
    background-color: #555;
    color: #fff;
}

body.dark-mode .card.matched,
body.dark-mode .card.flipped {
    background-color: #777;
    color: #bbb;
}

/* Toggle mode button styles */
.toggle-mode {
    position: fixed;
    top: 10px;
    right: 10px;
}

#toggleButton {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#toggleButton:hover {
    background-color: #0056b3;
}

#toggleButton i {
    font-size: 1.5em;
}
